<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39033143446-7c3ojr9qn7vbgkas1076ju5t714fhboh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39033143446-7c3ojr9qn7vbgkas1076ju5t714fhboh</string>
	<key>API_KEY</key>
	<string>AIzaSyB-KEqEYiQlZsNC3De5CJS_K2worvWh_ng</string>
	<key>GCM_SENDER_ID</key>
	<string>39033143446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdelnasser.Dardesh</string>
	<key>PROJECT_ID</key>
	<string>dardesh-9895f</string>
	<key>STORAGE_BUCKET</key>
	<string>dardesh-9895f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39033143446:ios:674ee3092736d056f4c2b7</string>
</dict>
</plist>